.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: 44px;
  padding: 0 25px;
  color: var(--color-white);
  font-family: var(--base-font-family);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 3px;
  cursor: pointer;

  &--secondary {
    background-color: var(--color-primary);
  }

  &--gray {
    background-color: var(--color-gray);
  }
}
